//
// Reset
//

@viewport {
  width: device-width; /* largeur du viewport */
  zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  outline: 0;
}

ul {
  li {
    list-style: none;
  }
}

@font-face {
  font-family: "10Bit";
  src: url("../fonts/10bit-webfont.woff2") format("woff2"),
    url("../fonts/10bit-webfont.woff") format("woff");
}

@font-face {
  font-family: "RetroGaming";
  src: url("../fonts/Retro-Gaming.ttf") format("ttf"),
    url("../fonts/Retro-Gaming.woff") format("woff");
}

//
// Variables
//

$font-main: "10Bit", sans-serif;
$font-alt: "Alata", sans-serif;

$pink: #ff6b6a;
$ligh-pink: #ffbbbb;
$shadow: rgb(146, 68, 68);
$light-shadow: #c62e2d;
$green: #b2ffbd;
$yellow: #fff4ad;
$blue: #cbfefd;

$break-mobile-height: 790px;
$break-mobile-width: 600px;

@mixin for-all-except-mobile {
  @media screen and (min-width: calc(#{$break-mobile-width} + 1px)) and (min-height: calc(#{$break-mobile-height} + 1px)) {
    @content;
  }
}

@mixin for-mobile-only {
  @media screen and (orientation: portrait) and (max-width: $break-mobile-width),
    screen and (orientation: landscape) and (max-height: $break-mobile-height) {
    @content;
  }
}

@mixin for-mobile-portrait-only {
  @media screen and (orientation: portrait) and (max-width: $break-mobile-width) {
    @content;
  }
}

@mixin for-mobile-landscape-only {
  @media screen and (orientation: landscape) and (max-height: $break-mobile-height) {
    @content;
  }
}

// Scrollbar
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

//
// Rules
//

body {
  background-color: $pink;
  font-family: $font-main;
}

main {
  display: grid;

  @include for-all-except-mobile {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr minmax(300px, 800px) 1fr;
    grid-template-rows: 50px 1fr 100px;
  }

  @include for-mobile-portrait-only() {
    grid-template-columns: 1fr minmax(200px, 900px) 1fr;
    grid-template-rows: 50px 1fr 50px;
  }

  @include for-mobile-landscape-only() {
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 900px) minmax(
        200px,
        1fr
      );
    grid-template-rows: 50px 1fr 50px;
  }
}

nav#main-nav {
  z-index: 100;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 50px;

  display: grid;
  grid-template-columns: 1fr minmax(300px, 800px) 1fr;
  @include for-mobile-only {
    grid-template-columns: 1fr minmax(300px, 900px) 1fr;
  }

  ul {
    grid-column: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    li {
      width: 100%;
      height: 100%;
      align-items: center;
      overflow: hidden;

      a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        color: $ligh-pink;
        overflow: hidden;
        font-size: 2em;
        line-height: 50px;

        // text-shadow: 0px 1px $shadow,
        //             0px 2px $shadow,
        //             0px 3px $shadow,
        //             0px 4px $shadow,
        //             0px 5px $shadow,
        //             0px 6px $shadow,
        //             0px 7px $shadow,
        //             0px 8px $shadow;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          color: $pink;
          // text-shadow: 1px 1px $shadow;
          // line-height: 64px;
        }
      }
    }
  }
}

nav#work-nav {
  @include for-mobile-only {
    display: none;
  }

  z-index: 1;
  grid-column: 2;
  grid-row: 3;
  width: 100%;

  // Animation
  @keyframes jump {
    0% {
      top: 40px;
    }
    50% {
      top: 45px;
    }
    100% {
      top: 40px;
    }
  }

  @keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .hide {
    animation: hide ease-out 0.25s 1 both;
  }

  .show {
    animation: show ease-in 0.5s both;
  }

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
      width: 150px;
      height: 100%;
      align-items: center;
      overflow: hidden;

      &:nth-child(2) {
        display: none;
      }

      a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        color: white;
        overflow: hidden;
        font-size: 2em;
        line-height: 50px;
        cursor: pointer;

        // Button/Arrow
        span#arrow-down {
          display: block;
          position: absolute;
          left: 50%;
          margin-left: -15px;
          top: 35px;
          animation: jump 0.5s infinite;
          // animation: hide 0.5s infinite;
          width: 20px;
          height: 20px;
          border-bottom: 8px solid #fff;
          border-right: 8px solid #fff;
          transform: rotate(45deg);
        }

        &:hover {
          opacity: 0.7;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}

.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-row: 2;
  grid-column: 2;

  @include for-all-except-mobile {
    // height: calc(100vh - 200px);
    perspective: 600px;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  #cube {
    position: relative;

    @include for-all-except-mobile {
      width: 80%;
      padding-bottom: 80%;
      transform-style: preserve-3d;
      transition: transform 1s;
    }

    section {
      width: 100%;

      @include for-all-except-mobile {
        position: absolute;
        height: 100%;
      }

      @include for-mobile-only {
        &:first-child {
          padding: 5px 10px;
        }
        &:not(:first-child) {
          margin: 25px 0;
          padding: 5px 20px;
        }
      }
    }

    @include for-all-except-mobile {
      .front {
        transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
      }
      .right {
        transform: translateX(50%) rotateY(90deg);
      }
      .back {
        transform: rotateY(-90deg) translateX(-50%) rotateY(90deg);
      }
      .left {
        // Fix to avoid white line from other sides
        transform: rotateY(-90deg) rotateY(90deg) translateX(-50%)
          translateX(-1px) rotateY(-90deg);
      }
      .top {
        transform: translateY(50%) rotateX(90deg);
      }
      .bottom {
        // Fix to avoid white line from other sides
        transform: translateY(50%) translateY(-1px) rotateX(-90deg);
      }
    }
  }

  @include for-all-except-mobile {
    .show-right {
      transform: rotateY(-90deg) translateX(-50%) rotateY(90deg) rotateY(-90deg);
    }
    .show-front {
      transform: rotateY(-90deg) translateX(-50%) rotateY(90deg) rotateY(0deg);
    }
    .show-left {
      transform: rotateY(-90deg) translateX(-50%) rotateY(90deg) rotateY(90deg);
    }
    .show-bottom {
      transform: rotateY(-90deg) translateX(-50%) rotateY(90deg) rotateX(90deg);
    }
  }

  #home {
    background-color: $pink;
  }

  #work {
    background-color: $pink;

    @include for-all-except-mobile {
      overflow-x: hidden;
      overflow-y: scroll;

      @include scrollbars(10px, white, $ligh-pink);
    }

    @include for-mobile-only {
      overflow: hidden;
    }

    h2 {
      @include for-all-except-mobile {
        display: none;
      }

      @include for-mobile-only {
        font-family: $font-main;
        font-size: 2.7em;
        margin-top: 20px;
        grid-column: 1 / -1;
        grid-row: 1;

        text-shadow: 0px 1px $light-shadow, 0px 2px $light-shadow,
          0px 3px $light-shadow, 0px 4px $light-shadow, 0px 5px $light-shadow,
          0px 6px $light-shadow, 0px 7px $light-shadow, 0px 8px $light-shadow;
      }
    }

    .video-container {
      position: relative;

      @include for-all-except-mobile {
        width: auto;
        height: 100%;
        border: 15px white solid;
      }

      @include for-mobile-only {
        width: 100%;
        padding-top: 100%;
        margin: 20px auto;
        outline: 10px white solid;
      }

      overflow: hidden;
      background-color: black;
    }

    .mute {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: block;
      width: 50px;
      height: 50px;
      // background-image: url("https://www.iconsdb.com/icons/preview/white/mute-2-xxl.png");
      background-image: url("../img/sound_off.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    .external {
      font-size: 0;
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: block;
      width: 50px;
      height: 50px;
      background-image: url("../img/external-link.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      background-image: url("../img/loading.gif");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 25%;
    }

    video {
      min-width: 100%;
      height: 100%;

      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  #about {
    background-color: $pink;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    min-width: 0;
    min-height: 0;

    @include for-mobile-only {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr;
    }

    h2 {
      @include for-all-except-mobile {
        display: none;
      }

      @include for-mobile-only {
        font-family: $font-main;
        font-size: 2.7em;
        margin-top: 20px;
        grid-column: 1 / -1;
        grid-row: 1;

        text-shadow: 0px 1px $light-shadow, 0px 2px $light-shadow,
          0px 3px $light-shadow, 0px 4px $light-shadow, 0px 5px $light-shadow,
          0px 6px $light-shadow, 0px 7px $light-shadow, 0px 8px $light-shadow;
      }
    }

    .press-kit {
      grid-column: 1;

      @include for-mobile-only {
        grid-column: span 3;
        padding: 50%;
      }

      font-size: 0;

      background-image: url("../img/presskit.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;

      &:hover {
        opacity: 0.8;
      }
    }

    .join-us {
      grid-column: 1;
      @include for-mobile-only {
        grid-column: span 3;
        padding: 50%;
      }

      font-size: 0;

      background-image: url("../img/joinus.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;

      &:hover {
        opacity: 0.8;
      }
    }

    .collaborator {
      @include for-mobile-only {
        grid-column: span 2;
      }
    }

    .text-container {
      font-family: $font-alt;
      z-index: 10;
      overflow: visible;
      min-width: 0;
      min-height: 0;

      @include for-all-except-mobile {
        grid-column: 2 / span 2;
        grid-row: 1 / span 2;
      }

      @include for-mobile-only {
        grid-column: 1 / -1;
      }

      p {
        text-align: left;
        text-overflow: ellipsis;
        hyphens: auto;

        @media screen and (min-width: 750px) {
          font-size: 1.25em;
        }

        @include for-mobile-only {
          font-size: 1.1em;
        }

        a {
          text-decoration: underline;
        }

        strong {
          color: $yellow;
          text-shadow: 0px 1px $light-shadow, 0px 2px $light-shadow;
        }
      }
    }
  }

  #contact {
    background-color: $pink;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-width: 0;
    min-height: 0;

    font-family: $font-alt;

    h2 {
      @include for-all-except-mobile {
        display: none;
      }

      @include for-mobile-only {
        font-family: $font-main;
        font-size: 2.7em;
        margin-top: 20px;
        grid-column: 1 / -1;
        grid-row: 1;

        text-shadow: 0px 1px $light-shadow, 0px 2px $light-shadow,
          0px 3px $light-shadow, 0px 4px $light-shadow, 0px 5px $light-shadow,
          0px 6px $light-shadow, 0px 7px $light-shadow, 0px 8px $light-shadow;
      }
    }

    @include for-mobile-portrait-only {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }

    @include for-mobile-landscape-only {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-gap: 20px;
    }

    .map {
      overflow: hidden;
      min-width: 0;
      min-height: 0;
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;

      @include for-mobile-portrait-only {
        grid-column: 1 / -1;
        grid-row: 2;
      }

      @include for-mobile-landscape-only {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
      }

      justify-content: center;
      align-content: center;
    }

    a {
      overflow: hidden;
      min-width: 0;
      min-height: 0;
      font-size: 0;

      background-size: 60%;

      @include for-mobile-portrait-only() {
        padding: 40%;
        background-size: auto 100%;
      }
      background-repeat: no-repeat;
      background-position: center center;
    }

    .email {
      background-image: url("../img/social/mail.png");

      &:hover {
        opacity: 0.8;
      }
    }

    .linkedin {
      background-image: url("../img/social/linkedin.png");

      &:hover {
        opacity: 0.8;
      }
    }

    .twitter {
      background-image: url("../img/social/twitter.png");

      &:hover {
        opacity: 0.8;
      }
    }

    .instagram {
      background-image: url("../img/social/instagram.png");

      &:hover {
        opacity: 0.8;
      }
    }

    .facebook {
      background-image: url("../img/social/facebook.png");

      &:hover {
        opacity: 0.8;
      }

      @include for-mobile-only() {
        display: none;
      }
    }
  }
}

footer {
  @include for-all-except-mobile() {
    display: none;
  }

  grid-column: 1 / -1;
  grid-row: 3;
  width: 100%;
  height: 100%;

  p {
    width: 100%;
    height: 100%;
    text-align: center;
    color: $ligh-pink;
    overflow: hidden;
    font-size: 1em;
    line-height: 50px;
  }
}
